
		.pager {display: flex;}
		.pager > li {list-style: none; padding: 10px; }
		
		.pager li a {background-color: black; color: white;border-radius: 50%; padding: 10px;}	
		.active{
			background: orange !important;
		}


